.jumbotron, header.pattern {
  @background: #0042a5;
  background-color: @background;
  background-image: url("/images/bg.jpg");
  background-position: center top;
  background-size: cover;
  color: white;

  .btn-outline {
    color: white;
    background: transparent;
    border-color: white;
    font-weight: bolder;
  }

  .btn-outline:hover {
    color: @background;
    background: white;
    border-color: white;
    font-weight: bolder;
  }

}

footer.jumbotron {
  margin-top: 30px;
  margin-bottom: 0;
}

.container {
  font-family: 'Raleway', sans-serif;
  p {
    font-size: 110%;
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: 100%;
    }
  }
  code, kbd, pre, samp {
    font-family: 'Roboto Mono', monospace;
  }
  h1, h2, h3, h4, h5, h6 {
    margin-top: 40px;
  }
}

figure {
  margin-bottom: 1em;
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  figcaption {
    text-align: center;
  }
}
