.jumbotron,
header.pattern {
  background-color: #0042a5;
  background-image: url("/images/bg.jpg");
  background-position: center top;
  background-size: cover;
  color: white;
}
.jumbotron .btn-outline,
header.pattern .btn-outline {
  color: white;
  background: transparent;
  border-color: white;
  font-weight: bolder;
}
.jumbotron .btn-outline:hover,
header.pattern .btn-outline:hover {
  color: #0042a5;
  background: white;
  border-color: white;
  font-weight: bolder;
}
footer.jumbotron {
  margin-top: 30px;
  margin-bottom: 0;
}
.container {
  font-family: 'Raleway', sans-serif;
}
.container p {
  font-size: 110%;
}
.container p img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
.container code,
.container kbd,
.container pre,
.container samp {
  font-family: 'Roboto Mono', monospace;
}
.container h1,
.container h2,
.container h3,
.container h4,
.container h5,
.container h6 {
  margin-top: 40px;
}
figure {
  margin-bottom: 1em;
}
figure img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
figure figcaption {
  text-align: center;
}
