.jumbotron, header.pattern {
  @background: #0042a5;
  background-color: @background;
  background-image: url("/images/bg.jpg");
  background-position: center top;
  background-size: cover;
  color: white;

  .btn-outline {
    color: white;
    background: transparent;
    border-color: white;
    font-weight: bolder;
  }

  .btn-outline:hover {
    color: @background;
    background: white;
    border-color: white;
    font-weight: bolder;
  }

}

footer.jumbotron {
  margin-top: 30px;
  margin-bottom: 0;
}

.container {
  p {
    font-family: 'Raleway', inherit;
    font-size: 110%;
  }
}
