.jumbotron {
  background: #8080ff;
}
.jumbotron .btn-outline {
  color: white;
  background: transparent;
  border-color: white;
  font-weight: bolder;
}
.jumbotron .btn-outline:hover {
  color: #8080ff;
  background: white;
  border-color: white;
  font-weight: bolder;
}
.container p {
  font-family: 'Raleway', inherit;
  font-size: 125%;
}
